body{
    background-color: black;
    text-decoration: aliceblue;
}

h1{
    color: white;
}

h2{

    color: white
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 8px;
    border: 1px solid #ccc;
}
th {
    background-color: #f2f2f2;
}