<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{{url_for('static', filename='css/index_style.css')}}">
    <title>UPLOAD AND GET REVIEW</title>

    <style></style>
        

</head>
<body>
    <h2>Upload a Large Excel File</h2>

    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx,.xls" required>
        <button type="submit">Upload</button>
    </form>

    <h3>Uploaded Files:</h3>
    <ul>
        {% for file in files %}
            <li>
                <a href="{{ url_for('static', filename='UPLOAD_FOLDER/' + file.filename) }}" target="_blank">
                    {{ file.filename }} ({{ (file.file_size / 1024 / 1024) | round(2) }} MB) - {{ file.uploaded_at }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <br>
    <form action="{{ url_for('process_file') }}" method="get">
        <button type="submit">Process File</button>
    </form>
</body>
</html>